root
build
sources
.orchestra/tmproot
.orchestra/binary-archives/*
.orchestra/source_archives
.orchestra/installed_components
.orchestra/config_cache.yml
.orchestra/remote_refs_cache.json
.orchestra/config/user_*.yml
.idea
