#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("@ytt:template", "template")
#@ load("/components/toolchain/lib/toolchain.lib.yml", "create_toolchain_components")
#@ load("/lib/util.lib.yml", "datavalue")

#@yaml/text-templated-strings
---
#@ def params():
toolchain_name: host
triple: x86_64-pc-linux-gnu
binutils_version: "2.36.1"
gdb_version: "9.2"
gcc_version: #@ str(datavalue("gcc_host_version"))
gcc_sysroot: /
#! binutils_sysroot: /
extra_gcc_configure_options:
  - --without-cloog
  - --enable-libsanitizer
  - --enable-libssp
  - --enable-shared
  - --enable-libatomic
  - --enable-libquadmath
  - --enable-esp
  - --disable-libstdcxx-pch
  - --enable-threads=posix
  - --enable-__cxa_atexit
  - --enable-clocale=gnu
  - --disable-altivec
  - --disable-fixed-point
  - --enable-targets=all
  - --enable-libgomp
  - --disable-libmudflap
  - --disable-libssp
  - --disable-systemtap
  - --enable-lto
  - --without-isl
  - --enable-default-pie
  - --enable-default-ssp
  - --enable-libmpx
  - CFLAGS_FOR_TARGET="-I/usr/include/tirpc (@= data.values.hard_flags_compile @)"
  - CXXFLAGS_FOR_TARGET="-I/usr/include/tirpc (@= data.values.hard_flags_compile @)"
  - LDFLAGS_FOR_TARGET="-L$INSTALL_LINK_ONLY_PATH/lib -L$ORCHESTRA_ROOT/lib -lrt --sysroot=/ -Wl,-z,origin -Wl,--enable-new-dtags -Wl,-rpath,$RPATH_PLACEHOLDER/lib"
extra_binutils_configure_options:
  - --enable-gold=default
extra_gcc_make_variables: LIBRARY_PATH=/usr/lib/x86_64-linux-gnu
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  _: #@ template.replace(create_toolchain_components(**params()))

  gcc-host-toolchain:
    builds:
      default:
        dependencies:
          - toolchain/host/gcc
          - toolchain/host/binutils
        install: exit 0
        configure: mkdir -p "$BUILD_DIR"
