# Python language checkers/formatters
black
flake8
flake8-breakpoint
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-plugin-utils
flake8-polyfill
flake8-return
flake8-simplify
isort
mypy
pep8-naming
types-backports
types-PyYAML
types-requests
types-urllib3

# cmake-format executable
cmakelang

# setup.py support
setuptools
wheel

# Applications/Script dependencies
aiodataloader
ariadne[asgi-file-uploads]>=0.16
cffi
expandvars
Jinja2
gql[aiohttp]
grandiso
graphlib-backport
jsonschema
# lit version should always match clang-release and llvm version
lit==12.0.0
mako
meson==0.56.2
networkx
pefile
psutil
pydot
pyelftools
# This is our fork of the python-idb package that includes some fixes.
git+https://github.com/revng/python-idb.git
# pydot 3.0.2 introduced an incompatibility with pydot which is supposed to be resolved in a later version,
# but still causes problems to us (for instance, monotone framework headers generation fails), so we request v2.4.7.
# See https://github.com/pydot/pydot/issues/277
pyparsing==2.4.7
pytest
pytest-asyncio
requests
requests-toolbelt
rich
pyyaml
uvicorn[standard]
Werkzeug
xdg
