#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("/lib/create_component.lib.yml", "single_build_component")

#@ source_url = "https://www2.graphviz.org/Packages/stable/portable_source/graphviz-2.44.1.tar.gz"

#@yaml/text-templated-strings
---
#@ def graphviz_args():
license: COPYING
configure: |
  mkdir -p "$BUILD_DIR"
  extract.sh --into "$BUILD_DIR" "(@= source_url @)"

  cd $BUILD_DIR
  ./configure \
    --enable-ltdl \
    --disable-gdk-pixbuf \
    --without-pangocairo \
    --without-devil \
    --without-gtk \
    --without-gts \
    --without-qt \
    --without-lasi \
    --without-poppler \
    --without-ghostscript \
    --disable-static \
    --without-rsvg \
    --without-x \
    --without-xaw \
    --without-lefty \
    --without-digcola \
    --without-fontconfig \
    --without-freetype2 \
    --without-ipsepcola \
    --without-libgd \
    --with-sfdp \
    --without-ming \
    --with-cgraph \
    --with-webp=no \
    --without-glitz \
    --without-ipsepcola \
    --without-smyrna \
    --without-visio \
    --disable-guile \
    --disable-java \
    --disable-perl \
    --disable-python2 \
    --disable-python3 \
    --disable-ruby \
    --disable-tcl \
    --disable-go \
    --disable-io \
    --disable-lua \
    --disable-ocaml \
    --disable-php \
    --disable-python \
    --disable-r \
    --disable-sharp \
    --without-included-ltdl \
    --disable-ltdl-install \
    --prefix="$ORCHESTRA_ROOT" \
    CC="clang" \
    LIBS="-lm" \
    PS2PDF=/bin/true \
    GROFF=/bin/true
post_install: |
  export GVBINDIR="$DESTDIR$ORCHESTRA_ROOT/lib/graphviz"
  "$DESTDIR$ORCHESTRA_ROOT/bin/dot" -c
  if [ -e "$GVBINDIR/config6a" ]; then
    mv "$GVBINDIR/config6a" "$GVBINDIR/config6"
  fi
build_system: make
build_dependencies:
  - glibc
  - host-c-toolchain
dependencies:
  - libltdl
  - zlib
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  ui/graphviz: #@ single_build_component(**graphviz_args())
