#@ load("@ytt:overlay", "overlay")
#@ load("/lib/cmake.lib.yml", "cmake_boost_configuration", "typical_cmake_builds")

---
#@ def build_args():
extra_cmake_args:
  - -DQML_PLUGIN_INSTALL_DIRECTORY="$ORCHESTRA_ROOT/qml"
build_dependencies:
  - cmake
  - glibc
  - host-cxx-toolchain
dependencies:
  - host-libcxx
  - ui/qt
use_asan: false
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  ui/quickqanava:
    repository: ui-quickqanava
    license: licence.txt
    default_build: optimized
    builds: #@ typical_cmake_builds(**build_args())
