#@ load("@ytt:overlay", "overlay")
#@ load("@ytt:data", "data")

#@ load("/lib/create-component.lib.yml", "single_build_component")
#@ load("/lib/util.lib.yml", "seq_join")

---
#@ def boost_libs():
- regex   #! used by: source-highlight
- test    #! used by: revng, revng-c
#@ end

#@yaml/text-templated-strings
---
#@ def boost():
license: LICENSE_1_0.txt
configure: |
  mkdir -p "$BUILD_DIR"

  extract.sh --into "$BUILD_DIR" "https://boostorg.jfrog.io/artifactory/main/release/1.81.0/source/boost_1_81_0.tar.bz2"
  cd "$BUILD_DIR"

  # Use --target=x86_64-unknown-linux-gnu instead --target=x86_64-pc-linux
  sed \
    -i \
    's/"--target=.*"/"--target=x86_64-unknown-linux-gnu"/' \
    tools/build/src/tools/clang.jam

  ./bootstrap.sh \
    --prefix="$ORCHESTRA_ROOT" \
    --with-libraries=(@= seq_join(boost_libs(), ",") @) \
    --without-icu

install: |
  cd "$BUILD_DIR"

  ./b2 \
    --prefix="${DESTDIR}${ORCHESTRA_ROOT}" \
    --ignore-site-config toolset='clang'

  ./b2 \
    --prefix="${DESTDIR}${ORCHESTRA_ROOT}" \
    --ignore-site-config toolset='clang' \
    install

build_dependencies:
  - host-cxx-toolchain
dependencies:
  - host-libcxx
  - libunwind
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  boost: #@ single_build_component(**boost())
