#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("/lib/create_component.lib.yml", "single_build_component")
#@ load("/lib/ninja.lib.yml", "ninja")

#@ source_url = "https://download.gnome.org/sources/glib/2.64/glib-2.64.5.tar.xz"

#@yaml/text-templated-strings
---
#@ def glib_args():
license: source/COPYING
configure: |
  mkdir -p "$BUILD_DIR/source"
  extract.sh --into "$BUILD_DIR/source" (@= source_url @)
  find "$BUILD_DIR/source/" -name meson.build -exec sed -i "s|install\s*:\s*|install_rpath : '$RPATH_PLACEHOLDER/lib', \0|" {} \;
  sed -i 's|^.*HAVE_LANGINFO_.*1.*$||' "$BUILD_DIR/source/meson.build"
  sed -i -e '/subdir.*tests/d' "$BUILD_DIR"/source/{.,gio,glib}/meson.build

  CC=clang \
  CXX=clang++ \
  meson setup \
    --buildtype plain \
    --libdir=lib \
    --prefix "$ORCHESTRA_ROOT" \
    --wrap-mode nodownload \
    -Ddefault_library=shared \
    -Dselinux=disabled \
    -Dxattr=false \
    -Dlibmount=disabled \
    -Dinternal_pcre=true \
    -Dman=false \
    -Ddtrace=false \
    -Dsystemtap=false \
    -Dgtk_doc=false \
    -Dfam=false \
    -Dinstalled_tests=false \
    -Dnls=disabled \
    "$BUILD_DIR" \
    "$BUILD_DIR/source"
install: |
  cd "$BUILD_DIR"
  export LANG=
  (@= ninja @)
  (@= ninja @) install
build_dependencies:
  - host-c-toolchain
  - meson
dependencies:
  - libffi
  - zlib
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  glib: #@ single_build_component(**glib_args())
