#@ load("@ytt:overlay", "overlay")
#@ load("/lib/cmake.lib.yml", "cmake_boost_configuration", "typical_cmake_builds")

---
#@ def build_args():
source_url: "https://github.com/seleznevae/libfort/archive/v0.4.2.tar.gz"
build_dependencies:
  - gcc-host-toolchain
  - cmake
  - glibc
dependencies:
  - host-libcxx
use_asan: false
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  libfort:
    default_build: optimized
    license: LICENSE
    builds: #@ typical_cmake_builds(**build_args())
