#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("/components/llvm-common.lib.yml", "configure_llvm")
#@ load("/lib/optimization-flavors.lib.yml", "typical_project_flavors")
#@ load("/lib/fn-args.lib.yml", "mandatory")
#@ load("/lib/ninja.lib.yml", "ninja")

#@yaml/text-templated-strings
---
#@ def cmake_opts():
- -DBUILD_SHARED_LIBS=ON
- -DLLVM_ENABLE_PROJECTS="clang;mlir"
- -DCMAKE_C_COMPILER="(@= data.values.regular_c_compiler @)"
- -DCMAKE_CXX_COMPILER="(@= data.values.regular_cxx_compiler @)"
- -DLLVM_ENABLE_OCAMLDOC=OFF
- -DCMAKE_INSTALL_PREFIX="$ORCHESTRA_ROOT/lib/llvm/llvm"
- -DLLVM_USE_LINKER=mold
#@ end

#@yaml/text-templated-strings
---
#@ def llvm_component(use_asan=False):
repository: llvm-project
license: llvm/LICENSE.TXT
default_build: optimized
builds:
  #@ for flavor, f_options in typical_project_flavors(use_asan=use_asan).items():
    #@ build_type = f_options["cmake_build_type"]
    #@ cflags = f_options["extra_compiler_flags"]
    #@ ndebug = f_options["ndebug"]
    (@= flavor @):
      configure: #@ configure_llvm(cmake_build_type=build_type, cflags=cflags, additional_cmake_options=cmake_opts(), source_dir="$SOURCE_DIR")
      install: |
        cd "$BUILD_DIR"
        (@= ninja @) install

        if [ "$RUN_TESTS" -eq 1 ]; then
          (@= ninja @) check-all
        fi
      build_dependencies:
        - cmake
        - ninja
        - host-cxx-toolchain
      dependencies:
        - host-libcxx
        - libunwind
        - libedit
        - zlib
        - lit
      #@ if/end ndebug == False:
      ndebug: false
  #@ end
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  llvm: #@ llvm_component()
