#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("/lib/create_component.lib.yml", "single_build_component")

#@ source_url = "https://ftp.gnu.org/gnu/mpc//mpc-1.1.0.tar.gz"

#@yaml/text-templated-strings
---
#@ def mpc_args():
configure: |
  mkdir -p "$BUILD_DIR"
  extract.sh --into "$BUILD_DIR" (@= source_url @)
  cd "$BUILD_DIR" && ./configure \
    --prefix="$ORCHESTRA_ROOT" \
    --with-gmp="$ORCHESTRA_ROOT" \
    --with-mpfr="$ORCHESTRA_ROOT" \
    --enable-shared=no \
    CFLAGS="-fPIC (@= data.values.use_old_glibc_cflags @)" \
    CXXFLAGS="-fPIC (@= data.values.use_old_glibc_cflags @)" \
    LDFLAGS="(@= data.values.use_old_glibc_lflags @)"
build_system: make
dependencies:
  - gmp
  - mpfr
build_dependencies:
  - glibc
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  mpc: #@ single_build_component(**mpc_args())
