#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("/lib/make.lib.yml", "make")
#@ load("/lib/optimization-flavors.lib.yml", "typical_project_flavors")

#@yaml/text-templated-strings
---
#@ def qemu_component(use_asan=False):
repository: qemu
license: LICENSE
default_build: optimized
builds:
  #@ for flavor, f_options in typical_project_flavors(use_asan=use_asan).items():
    #@ build_type = f_options["cmake_build_type"]
    #@ cflags = f_options["extra_compiler_flags"]
    #@ ndebug = f_options["ndebug"]
    (@= flavor @):
      configure: |
        mkdir -p "$BUILD_DIR"
        cd "$BUILD_DIR";
        export PATH="$ORCHESTRA_ROOT/link-only/bin:$ORCHESTRA_ROOT/lib64/llvm/llvm/bin:$PATH";
        which -a clang;
        "$SOURCE_DIR/configure" \
          --cc="(@= data.values.regular_c_compiler @)" \
          --prefix="$ORCHESTRA_ROOT" \
          --disable-plugins \
          --target-list=" \
            arm-linux-user \
            aarch64-linux-user \
            i386-linux-user \
            mips-linux-user \
            mipsel-linux-user \
            s390x-linux-user \
            x86_64-linux-user \
            hexagon-linux-user \
            loongarch64-linux-user" \
          --enable-libtcg \
          --enable-llvm-helpers \
          --disable-werror \
          --disable-kvm \
          --disable-tools \
          --disable-system \
          --disable-libnfs \
          --disable-vde \
          --disable-gnutls \
          --disable-cap-ng \
          -Dvhost_user=disabled \
          -Dxkbcommon=disabled \
          --python="$(command -v python)" \
          (@ if build_type == "Debug": @)--enable-debug (@ end @)\
          --extra-cflags="(@= cflags @)"
      install: |
        cd "$BUILD_DIR"
        (@= make @) install
      build_dependencies:
        - host-c-toolchain
      dependencies:
        - zlib
        - glib
      #@ if/end ndebug == False:
      ndebug: false
  #@ end
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  qemu: #@ qemu_component()
