#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("/lib/make.lib.yml", "make")
#@ load("/lib/optimization_flavors.lib.yml", "typical_project_flavors")

#@yaml/text-templated-strings
---
#@ def qemu_component(use_asan=False):
repository: qemu
license: LICENSE
default_build: optimized
builds:
  #@ for flavor, f_options in typical_project_flavors(use_asan=use_asan).items():
    #@ build_type = f_options["cmake_build_type"]
    #@ cflags = f_options["extra_compiler_flags"]
    #@ ndebug = f_options["ndebug"]
    (@= flavor @):
      configure: |
        mkdir -p "$BUILD_DIR"
        cd "$BUILD_DIR";
        "$SOURCE_DIR/configure" \
          --cc="(@= data.values.regular_c_compiler @)" \
          --prefix="$ORCHESTRA_ROOT" \
          --target-list=" arm-libtinycode arm-linux-user aarch64-libtinycode aarch64-linux-user i386-libtinycode i386-linux-user mips-libtinycode mips-linux-user mipsel-libtinycode mipsel-linux-user s390x-libtinycode s390x-linux-user x86_64-libtinycode x86_64-linux-user " \
          --disable-werror \
          --enable-llvm-helpers \
          --disable-kvm \
          --without-pixman \
          --disable-tools \
          --disable-system \
          --disable-libnfs \
          --disable-vde \
          --disable-gnutls \
          --disable-smartcard-nss \
          --disable-uuid \
          --python="$(which python2)" \
          (@ if build_type == "Debug": @)--enable-debug (@ end @)\
          --extra-cflags="(@= cflags @)"
      install: |
        cd "$BUILD_DIR"
        (@= make @) install
      build_dependencies:
        - toolchain/host/cxx-toolchain
        - clang-release
        - glibc
        - llvm
      dependencies:
        - zlib
        - glib
      #@ if/end ndebug == False:
      ndebug: false
  #@ end
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  qemu: #@ qemu_component()
