#@ load("@ytt:overlay", "overlay")
#@ load("/lib/create-component.lib.yml", "single_build_component")
#@ load("/lib/cmake.lib.yml", "cmake")

#@yaml/text-templated-strings
---
#@ def revng_qa_args():
repository: revng-qa
license: LICENSE
configure: |
  mkdir -p "$BUILD_DIR"
  cd "$BUILD_DIR"
  (@= cmake @) "$SOURCE_DIR"
build_system: make
build_dependencies:
  - cmake
  - ninja
  - host-cxx-toolchain
dependencies:
  - revng-qa-python-dependencies
test_triggers:
  - test/revng-qa
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  revng-qa: #@ single_build_component(**revng_qa_args())
