#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("/lib/vscode-extension.lib.yml", "vscode_extension")

#@yaml/text-templated-strings
---
#@ def revng_theme_args():
repository: revng-vscode-theme
license: LICENSE.md
binary_archives: private
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  revng-theme: #@ vscode_extension(**revng_theme_args())
