#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")
#@ load("/lib/create_component.lib.yml", "single_build_component")

#@ source_url = "https://ftp.gnu.org/gnu/src-highlite/source-highlight-3.1.9.tar.gz"

#@yaml/text-templated-strings
---
#@ def source_highlight_args():
license: COPYING
configure: |
  mkdir -p "$BUILD_DIR"
  extract.sh --into "$BUILD_DIR" (@= source_url @)
  
  cd "$BUILD_DIR"
  sed 's/ throw [(]IOException[)]//g' -i lib/srchilite/fileutil.h lib/srchilite/fileutil.cc
  
  CC=clang CXX=clang++ ./configure \
    --prefix="$ORCHESTRA_ROOT" \
    --with-boost="$ORCHESTRA_ROOT" \
    --with-sysroot="$ORCHESTRA_ROOT" \
    --without-bash-completion \
    --without-doxygen \
    --disable-static
build_system: make
dependencies:
  - boost
  - host-libcxx
build_dependencies:
  - host-cxx-toolchain
  - glibc
#@ end

#@overlay/match by=overlay.all, expects=1
#@overlay/match-child-defaults missing_ok=True
---
components:
  source-highlight: #@ single_build_component(**source_highlight_args())

